<!-- Author: yaile -->

@model ITrack.Data.Entities.DevelopmentDirection

@{ ViewData["Title"] = "Add development direction"; }

<form asp-area="Panel" asp-controller="Directions" asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container" style="padding-top: 36px;">
        <h1 class="fw-bold" style="margin-right: 16px;">@ViewData["Title"]</h1>
        <p>There you add new direction</p>

        <div class="col col-md-4 mb-4">
            <div class="form-group mb-3">
                <label asp-for="DirectionName">Direction name</label>
                <input asp-for="DirectionName" class="form-control" placeholder="Back-end"/>
                <span asp-validation-for="DirectionName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-area="Panel" asp-controller="Directions" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>

</form>
