<!-- Author: yaile -->

@model ITrack.Data.Entities.Status

@{ ViewData["Title"] = "Add status"; }

<form asp-area="Panel" asp-controller="Statuses" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="container" style="padding-top: 36px;">
        <h1 class="fw-bold" style="margin-right: 16px;">@ViewData["Title"]</h1>
        <p>There you add new status</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col col-md-4 mb-4">
            <div class="form-group mb-3">
                <label asp-for="StatusName">Status name</label>
                <input asp-for="StatusName" class="form-control" placeholder="Completed"/>
                <span asp-validation-for="StatusName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-area="Panel" asp-controller="Statuses" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
        </div>
    </div>
    
</form>
